/***************************
**    Default Styles      **
***************************/

/***************************
**        Header          **
***************************/

/***************************
**          Nav           **
***************************/

/***************************
**       Main Area        **
***************************/

.main-area h2 {
	text-align: center;
}

.main-area .intro {
	width: 80%;
	margin: auto;
	text-align: justify;
}

.main-area .intro img {
	float: left;
	max-width: 20vw;
	height: auto;
	padding: 0 10px 5px 0;
}

/***************************
**         Footer         **
***************************/

@media only screen and (max-width: 800px) {
	
	/***************************
	**        Header          **
	***************************/
	
	/***************************
	**          Nav           **
	***************************/
	
	/***************************
	**         Main           **
	***************************/

	/***************************
	**        Footer          **
	***************************/
}

@media only screen and (max-width: 540px) {
	
	/***************************
	**        General         **
	***************************/

	/***************************
	**        Header          **
	***************************/
	
	/***************************
	**          Nav           **
	***************************/
	
	/***************************
	**         Main           **
	***************************/
	
	.main-area .intro img {
		float: center;
		max-width: 100%;
		height: auto;
		padding: 0 0 10px 0;
	}
	
	.main-area .intro p {
		clear: both;
	}
	
	/***************************
	**        Footer          **
	***************************/

}