/***************************
**    Accessibility       **
***************************/
/* Text meant only for screen readers*/
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/***************************
**    Default Styles      **
***************************/

body {
	margin: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	background-color: #F9F6EC;
}

h1 {
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.site {
	margin: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 7vw 7vw 1fr 7vw;
	grid-template-areas: 
		"header"
		"nav"
		"main"
		"footer"
	
}

.mainhead {
	grid-area: header;
	text-align: center;
	background-image: linear-gradient(260deg, #FFF 0%, #2376ae 100%);
}

.navi {
	grid-area: nav;
	background-image: linear-gradient(260deg, #FFF 0%, #2376ae 100%);
	background-position: center;
}

.main-area {
	grid-area: main;
}

.colophon {
	grid-area: footer;
	background-color: #F9F6EC;
	align-items: center;
}

#myBtn {
	display: none;
	overflow: hidden;
}

/***************************
**        Header          **
***************************/

header {
	font-family: 'Baskerville Old Face';
	font-size: 2.4vw;
	text-decoration: none;
}

h1 {
	margin-top: .3em;
}

h1 a {
	color: black;
	text-decoration: none;
}

.site-title {
	margin-bottom: 0;
}

.site-title img {
	max-width: 5vw; 
}

/***************************
**          Nav           **
***************************/

nav {
	text-align: center;
}

ul.mainNav li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	padding-inline-start: 0px;
	margin-top: 8px;
}

ul.mainNav li a {
	text-decoration: underline;
	font-size: 1.7vw;
	padding: 1em;
	color: black;
	cursor: pointer;
}

ul.mainNav li a.current {
	color: #207880;
}

ul.mainNav li a:hover {
	color:#6a1dcf;
}

.navbar-toggle {
    display:none;
}

/***************************
**       Main Area        **
***************************/

/***************************
**         Footer         **
***************************/

/* social media links */

.fa {
	padding: 10px;
	font-size: 20px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	margin: 5px;
	border-radius: 60%;
}

.fa:hover {
    opacity: 50%;
}

.fa-facebook {
	background: rgb(109, 172, 255);
	color: #F9F6EC;
}

.fa-twitter {
	background: rgb(109, 172, 255);
	color: #F9F6EC;
}

.fa-linkedin {
	background: rgb(109, 172, 255);
	color: #F9F6EC;
}

.fa-instagram {
	background: rgb(109, 172, 255);
	color: #F9F6EC;
}

.fa-wordpress {
	background: rgb(109, 172, 255);
	color: #F9F6EC;
}

.colophon {
	padding-bottom: 10em;
}

aside {
	text-align: center;
	margin-top: 2.5em;
}

 /* myBtn ID hidden on desktop */

 #myBtn {
	 visibility: hidden;
 }
 
 

@media only screen and (max-width: 800px) {
	
	/***************************
	**        Header          **
	***************************/
	
	header {
		font-size: 2.7vw;
		margin-top: 0;
	}
	
	h1 {
	margin-top: .2em;
	}
	
	/***************************
	**          Nav           **
	***************************/
	
	.mainNav {
		list-style-type: none;
		display: none;
		background-image: linear-gradient(260deg, #FFF 0%, #2376ae 100%);
	}
	
	.mainNav li {
		text-align: center;
		margin: 15px auto;	
	}

	.navbar-toggle {
		display: block;
		position: absolute;
		top: .5px;
		right: 20px;
		cursor: pointer;
		color: rgba(0, 0, 0, 0.8);
		font-size: 24px;
	}

	.active {
		display: block;
	}

	/***************************
	**         Main           **
	***************************/

	/***************************
	**        Footer          **
	***************************/

	/* back to top */

#myBtn {
	visibility: visible;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #2376ae;
    background: linear-gradient(to bottom, rgba(35,118,174,.9) 40%, rgba(255,255,255,.5));
    color: white; 
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
  /* end back to top */

}

@media only screen and (max-width: 540px) {
	
	/***************************
	**        General         **
	***************************/
	
	.site {
		grid-template-rows: 7vw 9vw 1fr 7vw;
	}

	/***************************
	**        Header          **
	***************************/
	
	header {
		font-size: 3vw;
		margin-top: 0;
	}
	
	h1 {
    	margin-top: 0;
	}
	
	/***************************
	**          Nav           **
	***************************/
	
	.navi {
		margin-bottom: 1.5em;
	}

	nav ul.mainNav li a {
		font-size: .7em;
		margin-bottom: 2em;
	}
	
	ul {
		margin-block-start: 0;
    	margin-block-end: 0;
    	margin-inline-start: 0;
    	margin-inline-end: 0;
	}

	.mainNav {
		list-style-type: none;
		display: none;
		background-image: linear-gradient(260deg, #FFF 0%, #2376ae 100%);
	}
	
	.mainNav li {
		text-align: center;
		margin: .5em 1em 0 0;	
	}

	.navbar-toggle {
		display: block;
		position: absolute;
		top: .5px;
		right: 20px;
		cursor: pointer;
		color: rgba(0, 0, 0, 0.8);
		font-size: 24px;
	}

	.active {
		display: block;
	}
	
	/***************************
	**         Main           **
	***************************/

	/***************************
	**        Footer          **
	***************************/
	
	aside {
	margin-top: 1em;
	margin-bottom: 1em;
	}

	/* back to top */

	#myBtn {
		visibility: visible;
	}

	#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #2376ae;
    background: linear-gradient(to bottom, rgba(35,118,174,.9) 40%, rgba(255,255,255,.5));
    color: white; 
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
	}
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
  /* end back to top */
}